// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body
{
	background-color:black;
}
.main{
	padding-top:80px;

}
.navbar-brand
{	
	font-family: 'Pacifico', cursive;
	font-size:24px;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.vue-typer {
  font-family: monospace;
}

.vue-typer .custom.char {
  color: #fff;
  background-color: black;
  font-size: 25px;
  text-align: center;
  padding-left:5px;

}
.vue-typer .custom.char.selected {
}

.vue-typer .custom.caret {
  width: 10px;
  background-color: #fff;
}
.typer-section
{
	padding-top:40px;
	position:absolute;

}